<% @group_inventories.each do |key, value| %>
  <div class="col-sm-4">
    <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
      <div class="card-header"><%= @group_field == 'type' ? IngredientType.find(key)&.name : key.strftime('%Y-%m') %></div>
      <div class="card-body">
        <h5 class="card-title">總計<%= value.inject(0){|sum, x| sum + (x.price * x.number) } %></h5>
        <p class="card-text"></p>
      </div>
    </div>
  </div>
<% end %>